{% extends "layout.html" %} {% block title %} C$50 Finance {% endblock %} {% block
main %}
<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-start">Symbol</th>
      <th class="text-end">Shares</th>
      <th class="text-end">Price</th>
      <th class="text-end">Total</th>
    </tr>
  </thead>
  <tbody>
    <!-- TODO: Loop through the database entries to display them in this table -->
    {% for entry in entries %}
    <tr>
      <td class="text-start">{{ entry.symbol }}</td>
      <td class="text-end">{{ entry.shares }}</td>
      <td class="text-end">{{ entry.price }}</td>
      <td class="text-end">{{ entry.total }}</td>
      {% endfor %}
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3" class="border-0 fw-bold text-end">Cash</td>
      <td class="border-0 text-end">{{ cash }}</td>
    </tr>
    <tr>
      <td class="border-0 fw-bold text-end" colspan="3">TOTAL</td>
      <td class="border-0 w-bold text-end">{{ total_in_stocks }}</td>
    </tr>
  </tfoot>
</table>
{% endblock %}
